
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/stylesheet.css" media="screen">
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/stylesheets/github-light.css" media="screen"> 
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/print.css" media="print">
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/simple-calendar.css">
        <script type="text/javascript" src="__PUBLIC__/Admin/js/simple-calendar.js" ></script>
          <style>
		      #calendar{
		        width: 100%
		      }
		      .clearfix{
		        margin-bottom: 50px !important;
		      }
		      .body{
		      	font-size: 16px;
		      	
		      }
		    </style>
	
			

			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">
				<!-- Main content -->
				<section class="content">
					<div class="col-md-12">						
						<!--<h2 style="color:red"> 待完善！！！ </h2>-->
						 <header>
						      <div class="inner">
						        <h1>happy everday！</h1>
						        <h2>重要日期不错过</h2>
						      </div>
						    </header>
						
						    <div id="content-wrapper">
						  <div class="inner clearfix">
						      <div id = 'calendar'>
						
						      </div>
						    </div>
						
						   
						    </div>
						
						    <script type="text/javascript" src="javascripts/simple-calendar.js"></script>
						    <script>
						     var myCalendar = new SimpleCalendar('#calendar');
						    </script>
						
					</div>
					
				</section>
			</div>
			