<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Main content -->
	<section class="content">

		<div class="col-md-12">

			<!--form start-->
			<form action="__SELF__" method="post" id="myform" name="myform" enctype="multipart/form-data">
				<div class="card card-info">
					<div class="card-header">
						<h3 class="card-title">小说分享设置</h3>
					</div>
					<div class="card-body">

						<div class="form-group">

							<span style="color: #17a2b8"><b>分享标题</b></span>
							<div class="input-group">
								<input name="share_title" value="{$wxshare.share_title}" type="text" class="form-control" id="fxzbt" placeholder="请输入微信分享主标题">
							</div>

						</div>

						<div class="form-group">

							<span style="color: #17a2b8"><b>分享链接</b></span>
							<div class="input-group">
								<input name="share_link" value="{$wxshare.share_link}" type="text" class="form-control" id="fxlj" placeholder="请输入微信分享链接">
							</div>

						</div>

						<div class="form-group">

							<span style="color: #17a2b8"><b>分享简介</b></span>
							<div class="input-group">
								<input name="share_desc" value="{$wxshare.share_desc}" type="text" class="form-control" id="fxjj" placeholder="请输入微信分享简介">
							</div>

						</div>

						<div class="form-group">
							<span style="color: #17a2b8"><b>分享图片链接</b></span>

							<div class="input-group">
								<input name="share_image" value="{$wxshare.share_image}" type="text" class="form-control" id="fxtp" placeholder="请输入微信分享图片">
							</div>

						</div>
						<div class="col-md-12">
							<div class="form-group">

								<span style="color: #f63131"><b>CNZZ统计代码</b></span>
								<div class="input-group">
									<input name="cnzz" value="" type="text" class="form-control" id="fxzbt" placeholder="">
								</div>

							</div>
							<div class="form-group">
								<span style="color:#f63131"><b>小说原文链接</b></span>
								<div class="input-group">
									<input name="xs_link" value="{$wxshare.xs_link}" type="text" class="form-control" id="xslj" placeholder="请输入微信分享简介">
								</div>
							</div>
						</div>
						<div class="card-header">
						</div>
						<div class="col-md-12">
							<div class="form-group">

								<span style="color: #17a2b8"><b>文章标题</b></span>
								<div class="input-group">
									<input name="title" value="{$info.title}" type="text" class="form-control" id="fxzbt" placeholder="请输入文章标题">
								</div>

							</div>

							<div class="card card-outline card-primary">
								<div class="card-header">
									<span style="color: #17a2b8"><b>插入图片</b></span>
									<!-- tools box -->
									<div class="card-tools">
										<button type="button" class="btn btn-tool btn-sm" data-widget="collapse" data-toggle="tooltip" title="Collapse">
		                  					<i class="fa fa-minus"></i></button>
										<button type="button" class="btn btn-tool btn-sm" data-widget="remove" data-toggle="tooltip" title="Remove">
		                  					<i class="fa fa-times"></i></button>
									</div>

								</div>
							</div>
							<div class="form-group">

								<span style="color: #17a2b8"><b>编辑内容</b></span>
								<div class="input-group">

									<textarea id="goods_desc" name="content">{$info.content}</textarea>
								</div>
							</div>
						</div>
						<!--<div class="form-group">

							<span style="color: #17a2b8"><b>页面文件名(*.html)</b></span>
							<div class="input-group">
								<input name="share_name" value="{$info.share_name}" type="text" class="form-control" id="fxjj" placeholder="请输入名称">
							</div>

						</div>-->

						<div class="card-footer">
							<button type="submit" class="btn btn-primary">下一步</button>
						</div>
					</div>

				</div>
			</form>
		</div>
		<!-- /.col-->

		<!-- ./row -->
	</section>

</div>

<aside class="control-sidebar control-sidebar-dark">

</aside>

</div>
<!-- ./wrapper -->

<!--导入在线编辑器 -->
<link href="__PUBLIC__/ueditor/themes/default/css/ueditor.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="__PUBLIC__/ueditor/third-party/jquery.min.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
		<script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/ueditor.all.min.js">
		</script>
		<!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
		<!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
		<script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript">
	//实例化编辑器

	UE.getEditor('goods_desc',{initialFrameWidth:1780,initialFrameHeight:400,
        wordCount:true, //开启字数统计 elementPathEnabled : false,//是否启用元素路径，默认是显示
maximumWords:50000,});
</script>