<div class="content-wrapper">
	<!-- Main content -->
	<section class="content">

		<div class="col-md-12">
<div class="container clearfix">
    <div class="sidebar-wrap">
        <div class="sidebar-title">
            <h1>菜单</h1>
        </div>
        
    </div>
    <!--/sidebar-->
    <div class="main-wrap">

        
        <div class="result-wrap">
            <div class="result-content">
			<form action="__SELF__" method="post" id="myform" name="myform" enctype="multipart/form-data">
				<div class="card card-info">
					<div class="card-header">
						<h3 class="card-title">小说分享</h3>
					</div>
					<div class="card-body">
						<div class="form-group">
							<span style="color: #17a2b8"><b>页面文件名(*.html)</b></span>
							<div class="input-group">
								<input name="share_name" value="{$info.share_name}" type="text" class="form-control" id="fxjj" placeholder="请输入名称">
							</div>
							<span style="color: #17a2b8"><b>文件夹</b></span>
							<div class="input-group">
								<input name="dir" value="" type="text" class="form-control" id="fxjj" placeholder="请输入文件名">
							</div>
						</div>
						
						<div class="card-footer">
							<button type="submit" class="btn btn-primary">下一步</button>
						</div>
					</div>

				</div>
			</form>
            </div>
        </div>

    </div>
    <!--/main-->
</div>
 </div>
</section>
    </div>
</body>
</html>