
			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">
				<!-- Main content -->
				<section class="content">

					<div class="col-md-12">

						<!--form start-->
						<form action="__SELF__" method="post" id="myform" name="myform" enctype="multipart/form-data">
							<div class="card card-info">
								<div class="card-header">
									<h3 class="card-title">添加用户</h3>
								</div>
								<div class="card-body">

									
									<div class="form-group">

										<span style="color: #17a2b8"><b>用户名</b></span>
										<div class="input-group">
											<input name="username" type="text" class="form-control" id="text1" value="" placeholder="请输入用户名">

										</div>

									</div>
									
									
									<div class="form-group">

										<span style="color: #17a2b8"><b>密码</b></span>
										<div class="input-group">
											<input name="pwd" type="text" class="form-control" id="text2" value="" placeholder="请输入密码">

										</div>

									</div>
                                                                    
                                                                    <div class="form-group">

										<span style="color: #17a2b8"><b>所属角色</b></span>
										<div class="input-group">
											<select name="roleid">
                                                                                        <volist name="roles" id="vo">
                                                                                          <option value="{$vo.id}">{$vo.rolename}</option>
                                                                                        </volist>
                                                                                        </select>

										</div>

									</div>

								<div class="form-group">																		
	                                 <div style="margin-bottom: 20px;margin-left: 10px;">
	                                      <button type="submit" class="btn btn-primary">添加</button>
	                                 </div>
								</div>
								</div>

							</div>
						</form>
					</div>
					<!-- /.col-->

					<!-- ./row -->
				</section>

			</div>

			

			

		</div>
		<!-- ./wrapper -->

		<script type="text/javascript" src="js/jquery-3.3.1.js" ></script>
		<!-- Bootstrap 4 -->
		<script src="js/bootstrap.bundle.min.js"></script>
		<!-- AdminLTE App -->
		<script src="js/adminlte.min.js"></script>
		
		<!-- Bootstrap WYSIHTML5 -->
		<script src="js/bootstrap3-wysihtml5.all.min.js"></script>
		<script>
			function btnck() {
				var a = document.getElementById("text1");
				var b = document.getElementById("text2");
			
				if(a.value == "") {
					alert("用户名不能为空！");
					return false;
				} else {
										
					if(b.value == "") {
						alert("密码不能为空！");
						return false;
					} else {
									alert("提交成功！");
							}					
				}
			}
		</script>
	</body>

</html>